<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Models.SaveState" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Models.SaveState>
            <setting name="PopulationSize" serializeAs="String">
                <value />
            </setting>
            <setting name="GenerationSize" serializeAs="String">
                <value />
            </setting>
            <setting name="MutationRate" serializeAs="String">
                <value>0.08</value>
            </setting>
            <setting name="CrossoverRate" serializeAs="String">
                <value>0.8</value>
            </setting>
            <setting name="GenomeSize" serializeAs="String">
                <value>2</value>
            </setting>
        </Models.SaveState>
    </userSettings>
</configuration>